<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="container-calendar">
    <app-calendar multipleDates="true"></app-calendar>
  </div>

  <div class="box-datepicker">
    <ion-row>
      <ion-col size="6">
        <div class="button-datepicker" (click)="selectDate('start')">
          <span>Data de início</span>
          <span>{{ dateStartFormated | dateBr }}</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="button-datepicker" (click)="selectDate('end')">
          <span>Data final</span>
          <span>{{ dateEndFormated | dateBr }}</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
