ion-header {
  &:after {
    display: none;
  }

  ion-toolbar {
    padding: 8px;
    --background: transparent;
    transition: all 0.3s;

    ion-title {
      color: var(--ion-color-white);
    }
  }

  &.color {
    ion-toolbar {
      --background: rgba(255,255,255,0.9);
      transition: all 0.3s;
    }
  }
}

.box-animation {
  width: 100%;
  margin-top: -100px;
  padding-top: 100px;
  height: 200px;
  z-index: 9999;
  position: relative;
  background-color: lightseagreen;

  .box-banner {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;

    .banner-parallax {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: absolute;
      background-image: url('../../../assets/images/scroll-parallax/montain.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .avatar {
    width: 80px;
    height: 80px;
    bottom: -40px;
    left: 50%;
    font-size: 26px;
    margin-left: -40px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: lightslategrey;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    &.fixed {
      top: 0px;
      left: 12% !important;
      position: fixed !important;
    }
  }
}

.box-content {
  padding: 40px 16px 20px 16px;

  h1 {
    width: 100%;
    margin: 0px;
    font-size: 30px;
    padding-top: 30px;
    display: block;
    font-weight: bold;
    color: var(--ion-color-grey-900);
  }

  .date {
    width: 100%;
    margin: 0px;
    font-size: 13px;
    display: block;
    font-weight: 500;
    color: var(--ion-color-grey-600);
  }

  p {
    font-size: 16px;
    color: var(--ion-color-grey-700);
  }

  .box-mention {
    padding: 20px 0px 20px 20px;

    p {
      width: 100%;
      font-size: 18px;
      display: block;
      font-weight: bold;
      text-align: right;
      font-style: italic;
      color: var(--ion-color-grey-500);
    }
    
    .name {
      width: 100%;
      font-size: 16px;
      display: block;
      text-align: right;
      font-weight: 500;
      color: var(--ion-color-grey-700);
    }

    .label {
      width: 100%;
      font-size: 12px;
      display: block;
      text-align: right;
      font-style: italic;
      color: var(--ion-color-grey-700);
    }
  }
}

.box-writer {
  width: 100%;
  padding: 30px 20px;
  background-color: var(--ion-color-grey-100);

  .row-item {
    width: 100%;
    display: flex;
    flex-flow: nowrap;

    .col-item {
      display: flex;
      align-items: center;

      &.col-avatar {
        width: 70px;

        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 1px solid var(--ion-color-grey-200);
          background-image: url('../../../assets/images/scroll-parallax/daniel.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &.col-info {
        width: calc(100% - 115px);
        display: flex;
        flex-flow: column;
        justify-content: center;

        strong {
          width: 100%;
          font-size: 16px;
          display: block;
          text-align: left;
          color: var(--ion-color-grey-800);
        }
    
        span {
          width: 100%;
          font-size: 12px;
          display: block;
          text-align: left;
          font-style: italic;
          color: var(--ion-color-grey-600);
        }
      }

      &.col-icon {
        width: 45px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .circle {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--ion-color-white);

          ion-icon {
            color: var(--ion-color-grey-600);
          }
        }
      }
    }
  }
}