.container-calendar {
  width: 100%;
  padding: 0px 16px;
  margin: 0 auto;
}

.calendar-header {
  width: 100%;
  padding: 4px 0px;

  .title-calendar {
    width: 100%;
    font-size: 20px;
    text-align: left;
    display: block;
    text-transform: uppercase;
    color: var(--ion-color-white);
  }

  .subtitle-calendar {
    width: 100%;
    font-size: 15px;
    text-align: left;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--ion-color-white);
  }

  ion-row {
    ion-col {
      padding: 2px;

      &.col-info {
        width: calc(100% - 88px) !important;
        min-width: calc(100% - 88px) !important;
        max-width: calc(100% - 88px) !important;
      }

      &.col-arrow {
        width: 44px !important;
        min-width: 44px !important;
        max-width: 44px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        .button-arrow {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255,255,255,0.1);
          color: var(--ion-color-white);
        }
      }
    }
  }
}

.calendar-body {
  width: 100%;

  .calendar-weekday {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    background-color: transparent;

    .col-date {
      width: 14.28%;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--ion-color-white);
    }
  }

  .calendar-dates {
    width: 100%;
    display: flex;
    flex-flow: wrap;

    .col-date {
      width: 14.28%;
      height: 42px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      .content-day {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--ion-color-white);
      }

      &.last-month {
        opacity: 0.2;
      }

      &.next-month {
        opacity: 0.2;
      }

      &.disabled {
        opacity: 0.2;
      }

      &.current-date {
        .content-day {
          color: var(--ion-color-white);
          background-color: var(--ion-color-primary);
          transition: background-color 0.3s, color 0.3s;
        }
      }

      &.selected {
        .content-day {
          color: var(--ion-color-white);
          background-color: rgba(0,0,0,0.2);
          transition: background-color 0.3s, color 0.3s;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .container-calendar {
    width: 294px;
    margin: 0 auto;
  }
}