
<div class="container-calendar">
  <div class="calendar-header">
    <ion-row>
      <ion-col size="8" class="col-info">
        <span class="title-calendar" (click)="selectMonth()">{{ currentMonth.name }}</span>
        <span class="subtitle-calendar" (click)="selectYear()">{{ currentYear }}</span>
      </ion-col>
      <ion-col size="2" (click)="goToLastMonth()" class="col-arrow">
        <div class="button-arrow">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2" (click)="goToNextMonth()" class="col-arrow">
        <div class="button-arrow">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <div class="calendar-weekday">
      <div class="col-date">Dom</div>
      <div class="col-date">Seg</div>
      <div class="col-date">Ter</div>
      <div class="col-date">Qua</div>
      <div class="col-date">Qui</div>
      <div class="col-date">Sex</div>
      <div class="col-date">Sab</div>
    </div>
    <div class="calendar-dates">
      <div *ngFor="let lastDay of daysInLastMonth" class="col-date last-month">
        <div class="content-day">
          <span>{{ lastDay }}</span>
        </div>
      </div>
      <div
        class="col-date current-month"
        *ngFor="let day of daysInThisMonth"
        (click)="changeDay(day)"
        [class.current-date]="currentDate === day.day"
        [class.start-date]="day.startDate"
        [class.end-date]="day.endDate"
        [class.selected]="day.selected"
        [class.disabled]="day.disabled"
      >
        <div class="content-day">
          <div class="box-label">
            <span>{{ day.day }}</span>
          </div>
        </div>
      </div>
      <div *ngFor="let nextDay of daysInNextMonth" class="col-date next-month">
        <div class="content-day">
          <div class="box-label">
            <span>{{ nextDay }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
